<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
</style>
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 0);
    color:white; */
}



.left{
    width: 25vw;
    padding: 10px ;
}
.right{
    width: 75vw;
}
.home{
    padding: 10px;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 10px;
    width: 30px;
    padding: 23px 14px;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}
.library{
    min-height: 80vh;
    position: relative;

}

.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom:0;
    padding: 10px ;
}
.footer a{
    color: grey;
}
.right{
    margin-top: 16px;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #343434
    
}
.header >*{
    padding: 20px;
}
.melodifyPlaylist{
    padding:6px;
}
.cardContainer{
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
}
.card{
    width: 190px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(50, 49, 49);
    position: relative;
}

.card >*{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
}

.play{
    width: 28px;
    height: 28px;
    background-color: #480606;
    border-radius: 100%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 155px;
    right: 16px;
    opacity: 0;
    transition: all 1s ease-out;
}
.buttons >*{
    margin: 0 12px;
}
.signupbtn{
    background-color: #343434;
    color: #8f8585;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
.signupbtn:hover{
    font-size: 17px;
    color: rgb(252, 252, 252);
}
.loginbtn{
    background-color: white;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width : 79px;
    cursor: pointer;
    font-size: 16px;
}
.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}


.playbar{
    position: absolute;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    width: 90%;
    padding: 12px;
}
.songbuttons{
    display:flex ;
    justify-content: center;
    gap: 16px;
}
.songList ul {
    padding: 0 42px;
}

.songList ul li{
    list-style-type:decimal;
    display: flex;
}
